*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body{
    font-family: 'Poppins', sans-serif;
    background: url(imgs/DALL·E\ 2025-02-01\ 18.56.52\ -\ A\ person\ coding\ on\ a\ laptop\ in\ a\ dark\ room\ with\ a\ purple\ and\ bluish\ neon\ theme.\ The\ glow\ from\ the\ screen\ illuminates\ their\ focused\ face\,\ which\ is\ visi.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: 15px;
}
hr{
    border: 0.8px solid rgba(106, 33, 175, 0.507);
    margin: 10px 0;
}
.bold{
    font-weight: bold;
}
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(63, 81, 181, 0.5);
    width: 100vw;
}
.container{
    width: 100%;
    max-width: 600px;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.562);
    display: flex;
    border-radius: 10px;
    

}
.profile{
    width: 30%;
    background: linear-gradient(to bottom, rgb(150, 90, 220), rgb(100, 50, 170));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0 0 15px;
}
.profile-name{
    margin: 0 auto;
    text-align: center;
}
.profile-name .name{
    font-size: 1.3rem;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.profile img{
    width: 100px;
    border-radius: 50%;
    height: 100px;
    margin-top: 10px;
}
.profile i{
    font-size: 1.5rem;
    margin-top: 10px;
}
.info{
    width: 70%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: blueviolet;
    height: 100%;
    padding: 20px;
    border-radius: 0 15px 15px 0;
    
}
.contact-info{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    gap: 20px;
}
.projects{
    margin-top: 20px;
}
.projects-content{
    display: flex;
    margin-top: 20px;
    
    gap: 100px;
}
.social{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 1.5rem;
    gap: 20px;
    padding-bottom: 10px;
}
